{% extends 'base.html' %}
{% block title %} Спасибо за заявку! {% endblock %}

{% block thanks %}

	<!-- Спасибо -->
  	<section>
  		<div class="container">
			<h2></h2>
			{% if name%}
  			<CENTER style = 'margin-top: 35%; margin-bottom: 35%;'><h1> {{ name }}, Спасибо за заявку!</h1></CENTER>
			{% else %}
			<CENTER style = 'margin-top: 35%; margin-bottom: 35%;'><h1> Что то пошло не так :)</h1></CENTER>
			{% endif %}
  		</div>
  	</section>
  	<!-- Спасибо -->

<!--Перенаправление на главную-->
<script>
	setTimeout(function()
	{
		window.location = "http://127.0.0.1:8000/crm/";
	}, 2000);
</script>
{% endblock %}



